h1 {
    color: crimson;
    text-align: center;
}
div{
    padding:  10px 5px 15px ;
    border: 15px solid #457b9d;
    margin: auto;
    background-color: #f1faea;
    max-width: 300px;

    max-height: 100px;
  

}
