h1{
    text-align: center;
    text-shadow: 2px 2px 2px #a8dadc;
    color: orangered;
    background-color:brown;
}
body{
    background-color: orange;

}
.contenedor{
text-align: center;
}
img{
    width: 300px;
    margin: 10px;
}