h1{
color: rgb(160, 45, 45);
}
h2{
    color: rgb(185, 43, 43);
}
body{
 background-color: orange;
}

.contenedor{
    border: 3px dashed rgb(13, 206, 190);
    width: 30%;
    height: 100px;
    margin: auto;
    overflow: auto;
    float: left;
}
.contenedor2{
    border: 3px dashed rgb(230, 207, 2);
    width: 30%;
    height: 100px;
    margin: auto;
    overflow: auto;
    float:right;
}