
ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

li a:hover{
    background-color: #1d3557;

}

ol{
    list-style:none;
    counter-reset: contador;

}

ol li{
    counter-increment: contador;
}

ol li::before{
    content: 'Persona ' counter(contador) ') ';
    color: #ff6f00;

}