div{
 border: 3px solid firebrick;
position:sticky;
top: 0px;

}
h1{
 text-align: center;
 color: crimson;
}
.contenedor{
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    margin: auto;
    overflow: auto;
    
}
div.contenedor.flotado{
    float: left;
}
div.contenedor.flotado.contenedor1{
    border: 3px dashed greenyellow;
}


div.contenedor.flotado.contenedor2{
    border: 3px dashed cornflowerblue;
    float: right;
}
div.contenedor.contenedor3{
    clear: both;
   
border: 3px dashed darkorange;
    margin: auto
}